.custom-slider {
  width: 100%;
  -webkit-appearance: none;  /* remove default styling */
  appearance: none;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    var(--slider-color) 0%,
    var(--slider-color) calc((100% * var(--value)) / var(--max)),
    #ddd calc((100% * var(--value)) / var(--max)),
    #ddd 100%
  );
  cursor: default;
}

/* Remove the thumb */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  cursor: default;
}

.custom-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  cursor: default;
}